@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --gap: 1rem;
        --code: 0 100% 1%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --code: 0 0% 14.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .justify-center {
        justify-content: center !important;
    }

    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
        @apply ml-[-50px] mt-[-4px];
        content: counter(step);
    }

    .center {
        @apply flex items-center justify-center;
    }

    .arrange-width {
        width: calc(100% - 20px);
    }

    .gradient-text {
        @apply bg-clip-text text-transparent bg-gradient-to-b from-neutral-700 to-neutral-900;
    }

    .bar {
        overflow-x: auto;
        /* Allows horizontal scrolling */
        scrollbar-width: thin;
        /* For Firefox, makes the scrollbar thinner */
        scrollbar-color: transparent transparent;
        /* For Firefox, custom scrollbar colors */
    }

    /* For WebKit browsers (Chrome, Safari, Edge) */
    .bar::-webkit-scrollbar {
        height: 8px;
        /* Adjust scrollbar height for horizontal scrolling */
    }

    .bar::-webkit-scrollbar-track {
        background: transparent;
        /* The track is transparent */
    }

    .bar::-webkit-scrollbar-thumb {
        @apply bg-primary;
        /* The scrollbar thumb color (more visible) */
        border-radius: 10px;
        /* Rounds the edges of the scrollbar */
        border: 2px solid transparent;
    }

    /* @ */
    pre {
        @apply !bg-code
    }

    .dark pre {
        @apply !bg-code/10
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: 5px;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--border)) transparent;
    }
}
